.env
.docker_build/
bin/
*.exe
vendor/
sibylBinary
botBinary
PsychoPass
sibylSystem
*.old.go
woto_files/
tmp_files/
labs/
*.old.go
*.log

# ignore db files
*.db
*.db-journal
*.sqlite
*.sqlite3
*.sqlite.db
*.sqlite.db-journal
*.sqlite.sqlite
*.sqlite.sqlite-journal
*.sqlite.sqlite3


# ignore debug binary file
__debug_bin

# ignore config file
config.ini
config.json
*.token
triggers.json